body {
	font-family: "Arial", sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	width: 90%;
	max-width: 31.25em;
	background: white;
	padding: 1.25em;
	border-radius: 0.5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

input,
select,
textarea {
	width: 100%;
	padding: 0.625em;
	margin-top: 0.3125em;
	margin-bottom: 0.9375em;
	border: 1px solid #ddd;
	border-radius: 0.25em;
}

h1 {
    font-size: 1.75em;
    margin-bottom: 1em;
    color: #333;
    text-align: center;
}

button {
	padding: 0.625em 1.25em;
	background-color: #008cba;
	color: white;
	border: none;
	border-radius: 0.3125em;
	cursor: pointer;
}

button:hover {
	background-color: #005f73;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #008cba;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 0.5em;
}

.error-message {
	color: red;
	font-size: 0.875em;
	display: none;
  }

